<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Add board</title>

    <div th:replace="fragments/navbar :: navbar-css-js"></div>

</head>
<body>
<!--navbar-->
<div th:replace="fragments/navbar :: navbar"></div>
<!--end navbar-->

<form th:object="${transaction}" th:action="@{'/budgetmanager/budget/' + ${transaction.getBudget().getId()} + '/transaction/edit/'}" method="post">
    <input type="hidden" th:field="*{id}"/>
    <div class="form-group">
        <label for="bord-description" >Transaction description</label>
        <input id="bord-description" type="text" class="form-control" name="bord-description" th:field="*{description}">
        <label for="bord-value">Budget description</label>
        <input id="bord-value" type="number" step="0.01" class="form-control" name="bord-value" th:field="*{value}">
        <select class="form-control" th:field="*{currency}">
            <!--/*@thymesVar id="currency" type="com.doeveryday.doeverydaybudgetmanager.model.Currency"*/-->
            <option th:each="currency : ${T(com.doeveryday.doeverydaybudgetmanager.model.Currency).values()}"
                    th:value="${currency.name()}"
                    th:text="${currency.name()}"
            >val
            </option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<form>

</form>

</body>