<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>User details</title>

    <div th:replace="fragments/navbar :: navbar-css-js"/>

</head>
<body>
<!--navbar-->
<div th:replace="fragments/navbar :: navbar"></div>
<!--end navbar-->

<main role="main">
    <div class="jumbotron">
        <dev style="text-align: center;">
            <dev th:if="${user.getPhoto() == null}">
                <h3>Add image</h3>
            </dev>
            <dev th:if="${user.getPhoto() != null}">
                <img style="margin: auto" th:src="@{/user/details/image}" alt="Profile photo">
                <h3>Change image</h3>
            </dev>
            <form th:action="@{/user/image}" method="post" enctype="multipart/form-data">
                <label class="control-label">Select File</label>
                <input id="imagefile" name="imagefile" type="file" class="file">
                <button type="submit" class="btn btn-secondary">
                    <dev th:if="${user.getPhoto() == null}">
                        Add
                    </dev>
                    <dev th:if="${user.getPhoto() != null}">
                        Change
                    </dev>
                </button>
            </form>
        </dev>
        <dev></dev>
        <table class="table" style="margin: auto;width: 80% !important; ">
            <tbody>
            <tr>
                <td>Username</td>
                <td th:text="${user.getUsername()}">Property value</td>
            </tr>
            <tr>
                <td>E-mail</td>
                <td th:text="${user.getEmail()}">Property value</td>
            </tr>
            <tr>
                <td>Id</td>
                <td th:text="${user.getId()}">Property value</td>
            </tr>
            <tr>
                <td>Authorities</td>
                <td th:text="${user.getAuthorities()}"></td>
            </tr>
            <tr>
                <td>Role</td>
                <td th:text="${user.getRole()}">Property value</td>
            </tr>
            <tr>
                <td>Password coded Bcrypt</td>
                <td th:text="${user.getPassword()}">Property value</td>
            </tr>
            </tbody>
        </table>
    </div>
</main>


</body>
</html>