<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>User details</title>

    <div th:replace="fragments/navbar :: navbar-css-js"/>

</head>
<body>
<!--navbar-->
<div th:replace="fragments/navbar :: navbar"></div>
<!--end navbar-->

<main role="main">
    <div class="jumbotron">
        <!--        Message-->
        <div th:replace="fragments/messages :: message"></div>

        <!--            photo-->
        <dev style="text-align: center;">
            <dev th:if="${user.getPhoto() == null}">
                <h3>Add image</h3>
            </dev>
            <dev th:if="${user.getPhoto() != null}">
                <img style="margin: auto;height: 250px; width: 250px" th:src="@{/user/details/image}"
                     alt="Profile photo" class="rounded mx-auto d-block">
                <h3>Change image</h3>
            </dev>
            <form th:action="@{/user/image}" method="post" enctype="multipart/form-data">
                <label class="control-label">Select File</label>
                <input id="imagefile" name="imagefile" type="file" class="file">
                <button type="submit" class="btn btn-secondary">
                    <dev th:if="${user.getPhoto() == null}">
                        Add
                    </dev>
                    <dev th:if="${user.getPhoto() != null}">
                        Change
                    </dev>
                </button>
            </form>
        </dev>
        <!--        photo-end-->
        <dev></dev>
        <!--        user details-->
        <table class="table" style="margin: auto;width: 80% !important; ">
            <tbody>
            <tr>
                <form method="post" action="/user/username">
                    <td>
                        <label for="username">Username</label>
                    </td>
                    <td>
                        <input id="username" name="username" type="text" th:value="${user.getUsername()}"
                               class="form-control">
                    </td>
                    <td>
                        <button type="submit" class="btn btn-secondary">Update</button>
                    </td>
                </form>
            </tr>
            <tr>
                <form method="post" action="/user/email">
                    <td>
                        <label for="email">E-mail</label>
                    </td>
                    <td>
                        <input id="email" name="email" type="text" th:value="${user?.getEmail()}" class="form-control">
                    </td>
                    <td>
                        <button type="submit" class="btn btn-secondary">Update</button>
                    </td>
                </form>
            </tr>
            <tr>
                <form method="post" action="/user/password">
                    <td>
                        <label for="password">Password</label>
                    </td>
                    <td>
                        <input id="password" name="password" type="password" value="********" class="form-control">
                    </td>
                    <td>
                        <button type="submit" class="btn btn-secondary">Update</button>
                    </td>
                </form>
            </tr>
            <tr>
                <td>Role</td>
                <td th:text="${user.getRole()}">Property value</td>
            </tr>
            <tr>
                <td>Id(cannot be change)</td>
                <td th:text="${user.getId()}">Property value</td>
            </tr>
            <tr>
                <td>Authorities(Only admin can change)</td>
                <td th:text="${user.getAuthorities()}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</main>


</body>
</html>