<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Boards</title>


    <div th:replace="fragments/navbar :: navbar-css-js"></div>

</head>
<body>
<!--navbar-->
<div th:replace="fragments/navbar :: navbar"></div>
<!--end navbar-->

<div th:replace="fragments/weathercss :: weather-css"></div>


<main role="main">
    <div class="jumbotron">
        <table class="table table-bordered" style="margin-top: 15px">
            <thead>
            <tr>
                <th scope="col">Data</th>
                <div th:each="day : ${daily.getData()}">
                    <th scope="col" th:text="${day.getTime().toString().substring(0, 10)}">Data</th>
                </div>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th>Tem Min/Max</th>
                <div th:each="day : ${daily.getData()}">
                    <th th:text="${day.getTemperatureLow().intValue()} + '°/' + ${day.getTemperatureHigh().intValue()} + '°'">
                        1°/2°
                    </th>
                </div>
            </tr>
            </tbody>
        </table>
    </div>
</main>


</body>
</html>