<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Add board</title>

    <div th:replace="fragments/navbar :: navbar-css-js"></div>

</head>
<body>
<!--navbar-->
<div th:replace="fragments/navbar :: navbar"></div>
<!--end navbar-->

<form th:object="${board}" th:action="@{/todo/board/add/}" method="post">
    <div class="form-group">
        <label for="bord-name" >Board name</label>
        <input id="bord-name" type="text" class="form-control" name="bord-name" th:field="*{name}">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<form>

</form>

</body>