<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Adding task</title>

    <div th:replace="fragments/navbar :: navbar-css-js"></div>

</head>
<body>
<!--navbar-->
<div th:replace="fragments/navbar :: navbar"></div>
<!--end navbar-->

<form th:action="@{'/todo/board/' + ${board.getId()} + '/delete'}" th:method="post">
    <button type="submit" class="btn btn-danger">Delete</button>
</form>

<form th:object="${board}" th:action="@{/todo/board/update}" th:method="post">
    <input type="hidden" th:field="*{id}"/>
    <div class="form-group">
        <label>Board name</label>
        <input type="text" class="form-control" th:field="*{name}">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<form>

</form>

</body>
</html>