<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Album details</title>

    <div th:replace="fragments/navbar :: navbar-css-js"></div>

</head>
<body>
<!--navbar-->
<div th:replace="fragments/navbar :: navbar"></div>
<!--end navbar-->

<main role="main">
    <div class="jumbotron">
        <h1 style="text-align: center; color: #1DB954">
            <img th:src="@{/resources/spotify/images/icon/Spotify_Icon_RGB_Green.png}" width="50px" height="50px">
            Album Details
        </h1>
        <div th:if="${not #lists.isEmpty(album.getImages())}">
            <img th:src="@{${album?.getImages()[0]?.getUrl()}}" width="300" height="300" style="display: block;margin-left: auto;margin-right: auto;">
        </div>
        <table class="table" style="margin: auto;width: 80% !important; ">
            <tbody>
            <tr>
                <td>Name</td>
                <td th:text="${album.getName()}">Property value</td>
            </tr>
            <tr>
                <td>Id</td>
                <td th:text="${album.getId()}">Property value</td>
            </tr>
            <tr>
                <td>Label</td>
                <td th:text="${album.getLabel()}">Property value</td>
            </tr>
            <tr>
                <td>Popularity</td>
                <td th:text="${album.getPopularity()}">Property value</td>
            </tr>
            <tr>
                <td>Release date</td>
                <td th:text="${album.getReleaseDate()}">Property value</td>
            </tr>
            <tr>
                <td>Artists</td>
                <td>
                    <div th:each="artist : ${artists}">
                        <a th:href="@{'https://open.spotify.com/artist/' + ${artist.getId()}}">
                            <div th:text="${artist.getName()}">
                                Artist name
                            </div>
                        </a>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Tracks</td>
                <td>
                    <div th:each="track : ${tracks}">
                        <a th:href="@{'https://open.spotify.com/track/' + ${track.getId()}}">
                            <div th:text="${track.getName()}">
                                Artist name
                            </div>
                        </a>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Spotify Url</td>
                <td>
                    <a th:href="@{'https://open.spotify.com/album/' + ${album.getId()}}">
                        <div th:text="'https://open.spotify.com/album/' + ${album.getId()}">
                            Track url
                        </div>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</main>


</body>
</html>